<div class="chat-container">
	<div class="chat-header">
		<div class="logo">
			<img src="../../images/chatbot.jpg" alt="chatbot" />
		</div>
		<div class="title">Let's Chat</div>
	</div>
	<div class="chat-body"></div>
	<div class="chat-input">
		<div class="input-sec">
			<input type="text" id="txtInput" placeholder="Type here" autofocus />
		</div>
		<div class="send">
			<img src="../../images/send.svg" alt="send" />
		</div>
	</div>
</div>
<div class="chat-btn">
	<img id="chat-btn" src="../../images/chatbot.jpg" alt="chat icon" />
</div>
<script src='/chatbot/Chatbot_js/response.js'></script>
<script src="/chatbot/Chatbot_js/app.js"></script>