:root {
	--header-shadow: 0 0rem 1rem rgba(0, 0, 0, 0.3);
	--img-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
	--navbar-grey: rgba(0, 0, 0, 0.5);
	--text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.076);
}

* {
	-ms-overflow-style: none; /* Internet Explorer 10+ */
	scrollbar-width: none; /* Firefox */
	box-sizing: border-box;
}

*::-webkit-scrollbar {
	display: none; /* Safari and Chrome */
}

html {
	height: 90%;
}

body {
	background: url("../images/stocks.jpg");
	background-size: 100vw;
	height: 100%;
}

a,
a:hover,
a:focus,
a:active {
	text-decoration: none;
	color: inherit;
}

h1 {
	color: white;
}

.header {
	height: 3rem;
	width: 100%;
	background-color: black;
	opacity: 0.5;
}

/*Login/Registration*/
/*Registration*/
.input-form {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
	height: 100%;
}

.input-form h1,
.input-form label {
	color: white;
}

.input-container {
	background: rgb(66, 65, 65);
	border-radius: 1rem;

	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	box-shadow: var(--textbox-shadow);
	height: 70%;
	width: 25%;
}

.input-title {
	font-size: 2rem;
	margin-top: 0;
}

.input-rows {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.username-row {
	width: 80%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 1rem;
}

.username-input:focus {
	outline: none;
	outline-width: 0;
}

.password-row {
	width: 80%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 1rem;
}

.password-input:focus {
	outline: none;
	outline-width: 0;
}

.buttons-row {
	margin-top: 2rem;
	width: 80%;
	text-align: center;
}

.button {
	width: 80%;
	font: bold 1.5rem Palatino;
	text-decoration: none;
	background-color: #187cda;
	color: #ffffff !important;
	padding: 2px 6px 2px 6px;
	border-top: 1px solid #cccccc;
	border-right: 1px solid #333333;
	border-bottom: 1px solid #333333;
	border-left: 1px solid #cccccc;
	transition-duration: 0.5s;
}

.button:hover {
	background-color: #1f0c36;
	color: white;
	cursor: pointer;
}

.loggedin-body {
	background: url("../images/stocks-dark.png") !important;
}

.clients-table {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.headings-row {
	padding: 3rem 2rem 0rem 2rem;
	border-radius: 1rem;
	width: 20%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	transition-duration: 0.3s;
	color: white;
}

.clients-row {
	padding: 1rem;
	margin-top: 1rem;
	border-radius: 1rem;
	width: 25%;
	height: 5rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	transition-duration: 0.3s;
	color: white;
	background: black;
}

.clients-row:hover {
	background: #59259957;
}

.clients-data {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	color: inherit;
}

.client-username,
.client-name,
.client-number,
.client-stocks,
.client-crypto {
	width: 200px;
	text-align: center;
	white-space: initial;
	text-decoration: none;
	color: inherit;
}

/*Predictions*/
.predictions-table {
	width: 100%;
    height:70%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.predictions-section{
	padding: 3rem 2rem;
    margin-top:6rem;
	border-radius: 1rem;
	width: 35%;
    height:100%;
	display: flex;
    flex-direction: column;
	justify-content: space-around;
	align-items: center;
	transition-duration: 0.3s;
	color: white;
	background: black;
}

.predictions-headings-row{
	width:100%;
	display:flex;
	justify-content: space-between;
}

.predictions-headings-row p{
	color:white;
}

.predictions-row{
	width:100%;
	display:flex;
	justify-content: space-between;
}

/*Chatbot*/
.chat-container {
	display:none;
	--light-color: #fff;
	height: 420px;
	width: 350px;
	background: var(--light-color);
	position: fixed;
	bottom: 8rem;
	right: 2rem;
	box-shadow: 0px 0px 15px 0px black;
}
.chat-header {
	height: 60px;
	display: flex;
	align-items: center;
	padding: 0px 30px;
	background-color: #0652c0;
	color: var(--light-color);
	font-size: 1.5rem;
}

.chat-header .logo {
	height: 35px;
	width: 35px;
	box-shadow: 0px 0px 10px 0px black;
}
.chat-header img {
	height: 100%;
	width: 100%;
}
.chat-header .title {
	padding-left: 10px;
}
.chat-body {
	height: 300px;
	display: flex;
	flex-direction: column;
	padding: 8px 10px;
	align-items: flex-end;
	overflow-y: auto;
}
.chat-input {
	height: 60px;
	display: flex;
	align-items: center;
	border-top: 1px solid #ccc;
}
.input-sec {
	flex: 9;
}
.send {
	flex: 1;
	padding-right: 4px;
}
.send img {
	height: 35px;
	width: 35px;
}
#txtInput {
	line-height: 30px;
	padding: 8px 10px;
	border: none;
	outline: none;
	caret-color: black;
	font-size: 1rem;
	width: 100%;
}

.chatbot-message,
.user-message {
	padding: 8px;
	background: #ccc;
	margin: 5px;
	width: fit-content;
	border-radius: 10px 3px 10px 10px;
}
.chatbot-message {
	background: #0652c0;
	color: var(--light-color);
	align-self: flex-start;
	width: fit-content;
	border-radius: 10px 10px 3px 10px;
}
.chat-btn {
	height: 70px;
	width: 70px;
	bottom: 2rem;
	right: 2rem;
	border-radius: 50%;
	cursor: pointer;
	overflow: hidden;
	position: fixed;
	background-color: #fff;
	box-shadow: 0px 0px 15px 0px black;
	display: flex;
}

.chat-btn img {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	position: absolute;
	top: 0;
	left: 0;
	padding: 5px;
	transition: 0.4s ease-in-out;
}

.chat-btn:hover img {
	transform: rotate(30deg);
}

/*Notifications*/
#notifications-container{
	display:none;
	position: absolute;
	right:1rem;
	top:3.5rem;
	width:10rem;
	height:15rem;
	padding:1rem;
	background:black;
	border-radius: 0px 0px 8px 8px;
	overflow: scroll;
}

.notifications-row{
	display:flex;
	align-items:center;
	justify-content:space-between;
}

.asset-code{
	color:white;
}

.price-change{
	color:red;
}

#notification-bell{
	width:3rem;
	height:3rem;
	position: absolute;
	right:1.5rem;
	top:0.4rem;
}
