<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/stylesheets/style.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <%- include('../partials/header.ejs'); %>

    <form action="/login/" class="input-form" method="post">
        <div class="input-container">
            <h1 class="input-title"><%= pageTitle %> here</h1>

            <div class="input-rows">
                <div class="username-row">
                    <label class="username-label" for="Username">Username:</label>
                    <div>
                        <input required class="username-input" name="username" id="Title" />
                    </div>
                </div>

                <div class="password-row">
                    <label class="password-label" for="Password">Password:</label>
                    <div>
                        <input
                            required
                            class="password-input"
                            name="password"
                            id="password"
                        />
                    </div>
                </div>
            </div>
            <div class="buttons-row">
                <input type="submit" value="Login" class="login-btn button" />
            </div>
        </div>
    </form>
</body>
</html>